body{
    background-color:aqua;
    margin: 0px;
}
#container{
    width: 1728px;
    min-height: 300px;
    background-color:azure;
    margin: auto auto;
    
}
.row{
    min-height: 5px;
}
.col100{
    width: 100%;
}
.col75{
    width: 75;
    float: left;
}
.clol25{
    width: 25;
    float: left;
}
.clear{
    clear: both;
}